<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="I don't know how to describe it. It's 6:26 AM. You gotta figure it out yourself. I'm going to bed!"/>
	<meta name="keywords" content="game, webgame, keyboard, mechanical keyboard, vintage, memory" />

	<meta property="og:title" content="Shitty Clatty Keyboard Game" />
    <meta property="og:description" content="I don't know how to describe it. It's 6:26 AM. You gotta figure it out yourself. I'm going to bed!" />
    <meta property="og:url" />

	<meta property="og:image:url" content="https://qdinh.me/project/<%- PROJECT_ID %>/thumbnail.png" />
    <meta property="og:image:secure_url" content="https://qdinh.me/project/<%- PROJECT_ID %>/thumbnail.png" />
    <meta property="og:image:alt" content="Game Thumbnail" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="1920" />
	<meta property="og:image:height" content="975" />

	<meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Shitty Clatty Keyboard Game" />
    <meta name="twitter:description" content="I don't know how to describe it. It's 6:26 AM. You gotta figure it out yourself. I'm going to bed!" />

    <title>Shitty Clatty Keyboard Game</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
