.scoreboard-container {
	background-color: $primary-color;
	padding-bottom: 20px;

	.missed-text {
		color: $red-color;
	}

	.score-text, .missed-text {
		-webkit-text-stroke-width: 3px;
  		-webkit-text-stroke-color: black;
	}
}