.game-area {
	width: 100vw;
	height: 100vh;
	background-color: $background-color;
	padding: 10px;
}

.middle-panel {
	background-color: $primary-color;
	height: $upper-half-height;
}


.play {
	height: 25%;
	position: relative;

	.arrow {
		width: 30%;
		height: 2px;
		background-color: $lighten-dark-color;
		position: absolute;
		top: 50%;
		left: 35%;

		&::before {
			position: absolute;
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $lighten-dark-color;
			top: -5px;
		}

		&::after {
			position: absolute;
			content: "";
			display: block;
			border: solid $lighten-dark-color;
			border-width: 0 4px 4px 0;
			border-radius: 20%;
			display: inline-block;
			transform: rotate(-45deg);
			padding: 4px;
			top: -5px;
			right: 0;
		}
	}

	.play-btn {
		display: block;
		width: 20%;
		height: 50px;
		font-size: 1.2em;
		background-color: $red-color;
		color: $text-light-color;
		z-index: 2;
	}
}

.game-btn {
	width: 80%;
	height: 90px;
	border-radius: 5px;
	background-color: #545454;
	color: white;
	font-size: 1.2em;
	margin-bottom: 10px;
}